    .Hero{
        /* background-color: black; */
        height: 100vh;
      backdrop-filter:contrast(150%); ;
        background-size: cover; 
        background-position: center;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        color: white;
        /* text-align: center; */
        transition: background-image 1s;
        border: none;
    

    }

    .Hero .content {
        /* background-color: aqua;   */
        text-align: center;
        max-width: 800px;
        margin:  auto;
        justify-content: center;
        font-size: 1.5rem;
        /* border: 2px solid ; */
        margin-top: 180px;
    }

    .Hero .content button{
         border: none;
         background-color:rgb(219,121,222) ;
         color: white;
         padding: 10px 30px;
         border-radius: 30px;
         font-weight: bolder;
         transition-duration: 1s;

         
    }
    .Hero .content button:hover{
        background-image: linear-gradient(to right ,rgb(243,151,154),rgb(219,121,222),rgb(118,155,243)) ;

    }
    .Hero .content h1 {
        animation: heading-slide 1s ease-in-out 0s 1 normal forwards; /* Improved animation declaration */
      }
      
      @keyframes heading-slide {
        0% {
          transform: translateY(-330px); /* Starting position: translate 30px to the right */
        }
        100% {
          transform: translateX(0px); /* Ending position: translate back to original position */
        }
      }

      .Hero .content p{

        animation: para-slide 1s ease-in-out 0s 1 normal forwards; /* Improved animation declaration */
      }

      @keyframes para-slide {
        0% {
            transform: translateY(330px); /* Starting position: translate 30px to the right */
          }
          100% {
            transform: translateX(0px); /* Ending position: translate back to original position */
          }
        }
      